/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}

/* COMMON */

.container {
    width: 100vw;
    height: 100vh;
    background-color: yellow;
}
.app-main {
    width: 100vw;
    height: calc(100vh - 90px);
    display: flex;
    overflow: hidden;
    background-color: blue;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.sidebar-menu span,
.playlist span,
.playlist ul li {
    color: #a3a3a3;
    font-weight: bold;
}
/* NAV SIDEBAR */
.sidebar {
    width: 230px;
    height: calc(100vh - 90px);
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* LOGOS */
.logo {
    width: 100%;
    display: block;
}
.logo img {
    margin: 20px;
    width: 130px;
}
.small-logo {
    display: none;
}
.small-logo img {
    width: 30px;
    margin: 5px 10px;
}
/* SIDEBAR MENU */

.sidebar-menu ul li img {
    width: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.sidebar-menu span {
    vertical-align: 20px;   
    font-size: 14px;
}
.sidebar-menu #text-white {
    color: white;
}

/* PLAYLIST */
.playlist ul {
    height: 30vh;
    overflow-y: auto;
}
.playlist h4 {
    color:white;
    margin-left: 20px;
    margin-bottom: 15px ;
}
.playlist i {
    font-size: 40px;
    color: #a3a3a3;
    margin-left: 20px;
    margin-bottom: 20px;
}
.playlist span {
    margin-left: 10px;
    vertical-align: 50%;
}
.playlist ul li {
    margin-left: 20px;
    line-height: 35px;
}
/*************************************************
   RESPONSIVE
 *************************************************/

 /* < 576px */
 @media screen and (max-width: 575px) {
    .sidebar {
        width: 50px;
    }
    .logo {
        display: none;
    }
    .small-logo {
        display: block;
        text-align: center;
    }
    .small-logo img {
        width: 30px;
        margin: 5px 10px;
    }
    .sidebar-menu span {
        display: none;
    }
    .sidebar-menu ul li img {
        margin: 5px 10px;
    }
    .playlist {
        display: none;
    }
 }
 